@charset "UTF-8";
/* CSS Document */
/*	1. 	Zero Out Browser Defaults */
/* Derived from Tantek å?elik's undohtml.css */
/* http:/tantek.com/ */

:link,:visited 
{	/*text-decoration: none;*/
    }

ul,ol 
{	list-style: none;
    }

h1,h2,h3,h4,h5,h6 
{	font-size: 1em;
    }

ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form
{ 	margin: 0; 
    padding: 0;
    }

dl, dt, dd
{	margin: 0;
    padding: 0;
    }
    
img
{	padding: 0;
    border: 0;}

    
p {margin: 0;}
	
/*GENERAL ARCHITECTURE*/

/*not visible in the phone */
html {
    background-color: #ccc;
}

body {
	/*font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;*/
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#3B3B3B;
    width: 320px;
    height: 480px;
    background-color: #F5F5F5;
    margin: 0px auto;
    position: relative;
}


#wrapper {
	width:240px;
	height:320px;
	margin:16px auto;
	border:1px solid black;
	background-color:#F5F5F5;
	position: relative;
}

#header {
	height:48px;
	border-bottom:1px solid #4D4D4D;
    background: #2C6097 url('img/header.png') top left no-repeat;
    color: white
	/*border:1px solid #BABABA;*/
}

#header a { color: white }

#user_header {
    float: right;
    width: 75px;
    font-size: 0.8em
}

#content {
	height:380px;
    overflow-y: auto;
    position: relative;
    padding: 10px;
}

#inner {
    padding: 10px;
}

#toolbar {
    position: absolute;
    background: #333333;
    bottom: 0px;
    padding: 5px;
    color: white
}

#toolbar a { color: white }

/* General Styles */
h1{
	padding:0px 18px 0px 0px;		
}

a {
	/*text-decoration:none;*/
	color:#262626;
    font-weight: 200;	
}

a:hover {
	color:#B9B9B9;
}

form {
	padding:9px 18px 9px 0px;	
}

/* Content */

#content ul.big li {
	height:18px;
	padding:9px 9px 9px 32px;
	margin:2px;
	background-color: #CFCFCF;
	
}

#login {
	margin-top:6px;
	padding-left:32px;
}

#launch {
	padding:18px 18px 0px 32px;
}

.error {
    border: 1px solid red;
    padding: 5px;
    color: red;
    background-color: #FFBCAF
}

.rank {
    font-weight: bold;
    background-color: #aaccff;
    font-size: 16px;
}



/* Guesser styles*/
.floatLeft {
	float:left;
	position:relative;
	padding-left:10px;
}

	#guessable { 
	list-style-type: none; 
	margin: 0;
	padding: 0;
	width: 100px; 
}

#players li{
    padding: 5px;
    border: 1px solid #333;
}

.ui-sortable li {
    padding: 5px;
    border: 1px dashed #ccc;
	cursor: pointer;
}

label.username, label.password, label.submit{
    
    width: 90px;
    float: left;
    margin-left: 20px;
}

input.submit {
    width: 130px;
}

.floatright {
 float: right;
}

.centerText {
    text-align: center;
}

.center {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

div.board {
    empty-cells: show;
    background-color: #eeeeee;
    background-position: center center;
    background-repeat: no-repeat;
}

div.board div.cell {
    background-color: #eee;
    border: 1px solid white;
    float: left;
    font-size: 11px;
}

div.board div.row {
    display: block
}

div.board div.can-move {
    background: #DF720A;
    cursor: pointer
}

div.board div.occupied {
    color: #eee;
    background-color: #333
}

div.board div.you {
    color: yellow;
    font-weight: bold;
    background-color: transparent;
    background-image: url("img/char1.png");
}

div.board div.your-cubicle {
    background: #009966;
}

div.board div.a-cubicle {
    background: #ee66bb;
    background-image: url("img/cubicle1.png");
}



/*Moddal Window ishhh*/
#modalMask{
	display:none;
	background:#000000;
	opacity:0.9;
	filter:alpha(opacity=90);
	position:absolute;
	top:0px;
	left:0px;
	min-width:100%;
	min-height:100%;
	z-index:1000;	
}                

#modalWindow{
	display:none;
	position:fixed;
	top:100px;
	left:50%;
	margin-left:-100px;
	width:200px;
	background:#FFFFFF;
	padding:10px 15px 10px 15px;
	border:2px solid #ccc;
	z-index:1001; 
}









