@charset "UTF-8";
/* CSS Document */
/*	1. 	Zero Out Browser Defaults */
/* Derived from Tantek å?elik's undohtml.css */
/* http:/tantek.com/ */

:link,:visited 
{	/*text-decoration: none;*/
    }

ul,ol 
{	list-style: none;
    }

h1,h2,h3,h4,h5,h6 
{	font-size: 1em;
    }

ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form
{ 	margin: 0; 
    padding: 0;
    }

dl, dt, dd
{	margin: 0;
    padding: 0;
    }
    
img
{	padding: 0;
    border: 0;}

    
p {margin: 0;}
	
/*GENERAL ARCHITECTURE*/

/*not visible in the phone */
html {
    background-color: #333
}

body {
	/*font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;*/
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#3B3B3B;
    width: 320px;
    height: 480px;
    background-color: #F5F5F5;
    margin: 0px auto;
}


#wrapper {
	width:240px;
	height:320px;
	margin:16px auto;
	border:1px solid black;
	background-color:#F5F5F5;
		
}

#header {
	height:48px;
	border-bottom:1px solid #4D4D4D;
    background: #2C6097 url('img/header.png') top left no-repeat;
    color: white
	/*border:1px solid #BABABA;*/
}

#header a { color: white }

#user_header {
    float: right;
    width: 75px;
    font-size: 0.8em
}

#content {
	height:414px;
    overflow-y: auto
}

#footer {
	height:18px;
	margin-top:18px;
	background: #333333 url('img/footer.png') top left repeat-x;
}

/* General Styles */
h1{
	padding:0px 18px 0px 0px;		
}

a {
	/*text-decoration:none;*/
	color:#262626;
    font-weight: 200;	
}

a:hover {
	color:#B9B9B9;
}

form {
	padding:9px 18px 9px 0px;	
}

/* Content */

#content ul.big li {
	height:18px;
	padding:9px 9px 9px 32px;
	margin:2px;
	background-color: #CFCFCF;
	
}

#login {
	margin-top:6px;
	padding-left:32px;
}

#launch {
	padding:18px 18px 0px 32px;
}

.error {
    border: 1px solid red;
    padding: 5px;
    color: red;
    background-color: #FFBCAF
}



/* Guesser styles*/
.floatLeft {
	float:left;
	position:relative;
	padding-left:10px;
}

	#guessable { 
	list-style-type: none; 
	margin: 0;
	padding: 0;
	width: 100px; 
}

.ui-sortable li {
    padding: 5px;
    border: 1px dashed #ccc;
}




