/* Board view CSS */

div.board {
    empty-cells: show;
    background-color: #eeeeee;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0 auto 20px auto;
}

div.board div.cell {
    background-color: #eee;
    float: left;
    font-size: 1em;
    font-weight: normal;
    background-repeat: no-repeat;
    position: relative
}

div.board div.inner {
    position: relative;
    left: 0;
    top: 0;
    width: 96%;
    height: 96%;
    z-index: 1;
    background-color: #ccc;
}

div.board div.row {
    display: block
}

div.board div.cell div.text-overlay {
    position: absolute;
    left: 0.1em;
    bottom: 0.1em;
    background: #333;
    color: white;
    padding: 0.1em;
    z-index: 10;
    font-size: 1em;
}

div.board div.can-move {
    cursor: pointer;
}

div.board div.selectable div.inner {
    background: #DF720A;
    opacity: 0.7;
    cursor: pointer
}


div.board div.selectable:hover div.inner {
    opacity: 1.0;
}

div.board div.occupied {
    background-color: #333
}

div.board div.a-cubicle div.inner {
    border: 2px dotted #ccc;
    opacity: 0.7;
    cursor: pointer
}

div.board div.your-cubicle div.inner {
    background: #DF720A;
    border: 2px dotted yellow;
    opacity: 0.7;
    cursor: pointer
}

div.board div.you {
    background: transparent;
}

div.board div.you div.inner {
    background-color: red;
}


div.board div.you div.text-overlay {
    color: yellow;
    font-weight: bold;
    background-color: transparent;
}

div.board .tile {
    position: absolute;
    z-index: 8;
    width: 100%;
    height: 100%
}
