@charset "UTF-8";
/* CSS Document */
/*	1. 	Zero Out Browser Defaults */
/* Derived from Tantek å?elik's undohtml.css */
/* http:/tantek.com/ */

:link,:visited {
    text-decoration: none;
}

ul,ol {
    list-style: none;
 }

h1,h2,h3,h4,h5,h6 {
    font-size: 1em;
}

ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form {
    margin: 0; 
    padding: 0;
}

dl, dt, dd {
    margin: 0;
    padding: 0;
}
    
img {
    padding: 0;
    border: 0;
}
    
p {
    margin: 0;
}
	
/*GENERAL ARCHITECTURE*/

/*not visible in the phone */
html {
    background-color: #333;
}

body {
    position: relative
}

.header {
    color: #E0E0E0;
    border:1px solid #8C8C8C;
    background-image: url('../img/headerbg.png');
    background-color: #992632;
    text-align: center;
    background-repeat: repeat-x;
}

.header .left-button {
    display: block;
    float: left;
    margin: 2px;
    background-color: #06335F;
    color: white;
    position: relative
}

.header a { color: white }

.header h1 {display: inline-block; background: url('../img/logo.png') 0px -5px no-repeat ; overflow: visible; height: 22px; line-height: 28px; text-indent:-9999px;}


.toolbar {
    background: #222;
    color: white;
}

.toolbar a { color: white }

.ui-page {
    border: 0 none
}

.ui-page .content {
    padding: 10px
}

.portrait, .portrait .ui-page {
    /*min-height: 460px;*/
}

/* General Styles */
h1{
    padding:0px 18px 0px 0px;		
}

h1, h2, h3 {
    margin-bottom: 1em;
}

h1 { font-size: 2em }
h2 { font-size: 1.8em }
h3 { font-size: 1.6em }

a {
	/*text-decoration:none;*/
	color:#262626;
    font-weight: 200;	
}

a:hover {
	color:#B9B9B9;
}

label { float: left; min-width: 30% }
input { clear: both }

form {
	padding:9px 18px 9px 0px;	
}

/* Content */

#launch {
	padding:18px 18px 0px 32px;
}

.error {
    border: 1px solid red;
    padding: 5px;
    color: red;
    background-color: #FFBCAF
}

.rank {
    font-weight: bold;
    background-color: #aaccff;
    font-size: 16px;
}

.floatright {
 float: right;
}

.centerText {
    text-align: center;
}

.center {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

/*Moddal Window ishhh*/
#modalMask{
	display:none;
	background:#000000;
	opacity:0.9;
	filter:alpha(opacity=90);
	position:absolute;
	top:0px;
	left:0px;
	min-width:100%;
	min-height:100%;
	z-index:1000;	
}                

#modalWindow{
	display:none;
	position:fixed;
	top:100px;
	left:50%;
	margin-left:-100px;
	width:200px;
	background:#FFFFFF;
	padding:10px 15px 10px 15px;
	border:2px solid #ccc;
	z-index:1001; 
}

/*Moddal Window ishhh*/
.opaque {
	background:#333;
	opacity:0.9;
	filter:alpha(opacity=90);
	position:absolute;
	top:0px;
	left:0px;
	min-width:100%;
	min-height:100%;
	z-index:1000;	
}   

.lightbox {
	position:fixed;
	top:10px;
	left:50%;
	margin-left:-100px;
	width:200px;
	background:#FFFFFF;
	padding:10px 15px 10px 15px;
	border:2px solid #ccc;
	z-index:1001; 
}

.clues li
{
    list-style-type: square;
    list-style-position: inside;
}

#members {
    margin: 1em 0;
}

#members li {
    line-height: 2em
}

#members li .text {
    margin-left: 32px;
    
}

#avatar_picker {
    height: 20%;
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    border: 2px solid rgba(255, 255, 255, 0.3);
    position: relative;
}

.picker_img {
    float: left;
    width: 22%;
    border: 1px solid rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

.small_avatar {

}

.selected {
    border: 1px solid red !important;
}
.taken {
    opacity: .3;
    cursor: default;
}

/* Splash Screen */
#splash {
    margin-left: -15px;
    margin-top: -15px;
}

#splashHeadline {
    margin-left: -15px;
    padding:12px 12px 13px 15px;
    border-bottom:1px solid #4D4D4D;
    font-size:18px;
    line-height:120%;
    font-weight:100;
    color:#232323;
}

.alert-unviewed {
    background-color: #84C2CC;
    background-image: none
}