@charset "UTF-8";
/* CSS Document */
/*	1. 	Zero Out Browser Defaults */
/* Derived from Tantek å?elik's undohtml.css */
/* http:/tantek.com/ */

:link,:visited 
{	/*text-decoration: none;*/
    }

ul,ol 
{	list-style: none;
    }

h1,h2,h3,h4,h5,h6 
{	font-size: 1em;
    }

ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form
{ 	margin: 0; 
    padding: 0;
    }

dl, dt, dd
{	margin: 0;
    padding: 0;
    }
    
img
{	padding: 0;
    border: 0;}

    
p {margin: 0;}
	
/*GENERAL ARCHITECTURE*/

/*not visible in the phone */
html {
    background-color: #aaa;
}

#header {
	border-bottom:1px solid #4D4D4D;
    background: #2C6097;
    color: white
	/*border:1px solid #BABABA;*/
}

#header .left-button {
    display: block;
    float: left;
    margin: 2px;
    background-color: #06335F;
    color: white
}

#header a { color: white }

#toolbar {
    background: #333333;
    color: white;
    position: absolute;
    bottom: 0;
}

#toolbar a { color: white }

/* General Styles */
h1{
	padding:0px 18px 0px 0px;		
}

a {
	/*text-decoration:none;*/
	color:#262626;
    font-weight: 200;	
}

a:hover {
	color:#B9B9B9;
}

form {
	padding:9px 18px 9px 0px;	
}

/* Content */

#launch {
	padding:18px 18px 0px 32px;
}

.error {
    border: 1px solid red;
    padding: 5px;
    color: red;
    background-color: #FFBCAF
}

.rank {
    font-weight: bold;
    background-color: #aaccff;
    font-size: 16px;
}

.floatright {
 float: right;
}

.centerText {
    text-align: center;
}

.center {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

/*Moddal Window ishhh*/
#modalMask{
	display:none;
	background:#000000;
	opacity:0.9;
	filter:alpha(opacity=90);
	position:absolute;
	top:0px;
	left:0px;
	min-width:100%;
	min-height:100%;
	z-index:1000;	
}                

#modalWindow{
	display:none;
	position:fixed;
	top:100px;
	left:50%;
	margin-left:-100px;
	width:200px;
	background:#FFFFFF;
	padding:10px 15px 10px 15px;
	border:2px solid #ccc;
	z-index:1001; 
}

.clues li
{
    list-style-type: square;
    list-style-position: inside;
}

#avatar_picker {
    height: 20%;
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 50%;
    border: 2px solid rgba(255, 255, 255, 0.3);
}

.picker_img {
    float: left;
    width: 10%;
    border: 2px solid rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

.small_avatar {
    width: 4%;
}

.selected {
    border: 1px solid red !important;
}
.taken {
    opacity: .3;
    cursor: default;
}