{% extends "base.html" %}
{% load extras %}

{% block id %}seeker_game{% endblock %}

{% block header_right %}<a href="/seeker/game/{{ game.id }}/quit/" class="ui-btn-right">Quit</a>{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ MEDIA_URL }}/css/game.css" />

<div class="board">Loading...</div>
<div id="board_text"></div>

<script type="text/javascript">

Game.init({{ game.id }}, $('.board'), '{% media_url %}')

</script>

{% endblock %}

{% block toolbar %}
    <a href="#" onclick="Game.cluesForPlayer()">Clues</a>
    <a id="show_alerts" href="/seeker/game/{{ game.id }}/alerts/" data-rel="dialog">Alerts</a>
    <a href="#" onclick="Game.showGuesser()">Guess</a>
    <a href="#" onclick="Game.investigate()">Investigate</a>
    <!-- <a href="#" onclick="Game.pause()" id="pause">Pause</a> -->
{% endblock %}
