{% extends "base.html" %}
{% load extras %}

{% block content %}

<div class="board">Loading...</div>
<script type="text/javascript">

Game.init({{ game.id }}, $('.board'), '{% media_url %}')

</script>

{% endblock %}


{% block toolbar %}
    <a href="/seeker/game/{{ game.id }}/">Board</a>
    <a href="/seeker/game/{{ game.id }}/clues/">Show Clues</a>
    <a href="#" onclick="Game.showGuesser()">Guesser</a>
    <a href="#" onclick="Game.pause()" id="pause">Pause</a>
    <a href="/seeker/game/{{ game.id }}/quit/">Quit</a>
{% endblock %}
