

{% if game.is_current %}
    {% if other_players.count > 0 %}

    {{ other_player.user.username }}
    <img src="{{ MEDIA_URL }}/{{ other_player.image }}" />
        <select id="role">
            {% for player_role in roles %}
            <option value="{{ player_role.role.id }}">{{ player_role.role.name }}</option>
            {% endfor %}
        </select>
        <a href="#" onclick="Game.guessCubicle($('#role').val())">Ok</a>

    {% else %}
    You know everything!
    {% endif %}
{% else %}
<b>This game is over</b>
{% endif %}

