{% extends 'base.html' %}

{% block content %}
    
<div id="help">
    <div id="menu">
        <h2>Help Menu</h2>
        <a href="#" onclick="Main.helpMenu('moving1', 'menu')" data-role="button" data-rel="dialog">Moving</a>
        <a href="#" onclick="Main.helpMenu('invest1', 'menu')" data-role="button" data-rel="dialog">Investigating</a>
        <a href="#" onclick="Main.helpMenu('guess1', 'menu')" data-role="button" data-rel="dialog">Guessing</a>
        <a href="#" onclick="Main.helpMenu('cluelist1', 'menu')" data-role="button" data-rel="dialog">Clue List</a>
        <a href="#" onclick="Main.helpMenu('howtowin1', 'menu')" data-role="button" data-rel="dialog">How To Win</a>
        <a href="#" data-rel="back" data-role="button">Close Help</a>
    </div>
    <div id="moving1">
        <h2>Moving (1/2)</h2>
        <h3>Click an unoccupied tile adjacent to your character.</h3>
        <a href="#" onclick="Main.helpMenu('moving2', 'moving1')" data-role="button" data-rel="dialog">Next Step</a>
        <a href="#" onclick="Main.helpMenu('menu', 'moving1')" data-role="button" data-rel="dialog">Back to Help Menu</a>
    </div>
    <div id="moving2">
        <h2>Moving (2/2)</h2>
        <h3>If the spot is not occupied, you will move there.</h3>
        <a href="#" onclick="Main.helpMenu('menu', 'moving2')" data-role="button" data-rel="dialog">Back to Help Menu</a>
    </div>
</div>

{% endblock %}