{% load extras %}
{% load facebook_tags %}
<html>
    <head>
        <title>Seeker - {% block title %}{% endblock %}</title>
        <script type="text/javascript" src="{% media_url %}/js/jquery-1.4.2.min.js"></script>
        <script type="text/javascript" src="{% media_url %}/js/jquery-ui-1.8.6.custom.min.js"></script>   
        <script src="{% media_url %}/main.js"></script>
        <script src="{% media_url %}/lobby/lobby.js"></script>
        <link rel="stylesheet" href="{% media_url %}/main.css" />
        <meta name="google-site-verification" content="VN3xxT5Y1gL6rJcEJNtCtsyzymYhgcJIzhZclHil7Z8" />
        {% if facebook %}
        {% initialize_facebook_connect %}
        {% facebook_js %}
        {% endif %}
        
    </head>
    <body>
        <div id="header">
            <div id="user_header">
            {% if user.id %}
                Hi, {{ user.username }}
                <br/>
                <a href="/lobby/home/">Home</a> | <a class="logout" href="/logout/">Logout</a>
            {% else %}
                <a class="logout" href="/login/">Login</a>
            {% endif %}
            </div>
        </div>
        <div id="content">
        {% block content %}
        
        {% endblock %}
        </div>
        {% block toolbar %}
        <div id="toolbar">
            <a href="/lobby/home/">Home</a>
        </div>
        {% endblock %}

    </body>
</html>