{% load extras %}
{% load facebook_tags %}
<html>
    <head>
        <title>Seeker - {% block title %}{% endblock %}</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
        <script src="{{ MEDIA_URL }}/js/main.js"></script>
        <script src="{{ MEDIA_URL }}/lobby/lobby.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}/js/jquery.mobile.js"></script>
        
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a3/jquery.mobile-1.0a3.css" />
        <link rel="stylesheet" href="{{ MEDIA_URL }}/css/main.css" />
        <link rel="stylesheet" href="{{ MEDIA_URL }}/css/game.css" />
        <script src="{{ MEDIA_URL }}/js/game.js"></script>
        
        <meta name="google-site-verification" content="VN3xxT5Y1gL6rJcEJNtCtsyzymYhgcJIzhZclHil7Z8" />
        {% if facebook %}
        {% initialize_facebook_connect %}
        {% facebook_js %}
        {% endif %}
        
    </head>
    <body>
        <div id="page" data-role="page">
            <div id="header" data-role="header">
                <div id="logo"><img src="{{ MEDIA_URL }}/img/logo.png"/></div>
                <h1>{% block header %}{% endblock %}</h1>
                {% if user.id %}
                    <a href="/lobby/home/" class="ui-btn-right">Home</a>
                {% else %}
                    <a href="/login/" class="ui-btn-right">Login</a>
                {% endif %}
            </div>
            <div id="content" data-role="content">
            {% block content %}
            
            {% endblock %}
            </div>
            
            <div id="toolbar" data-role="footer">
                <div data-role="navbar">
                    <ul>
                    {% block toolbar %}
                        <a href="#" onclick="Main.showHelp()">Help</a>
                    {% endblock %}
                    </ul>
                </div>
            </div>
            
        </div>
    </body>
    <script>
    $(window).resize( function(){
        var height = $(window).height();
        var width = $(window).width(); 
        var ob = $('html');
        if( width > height ) {
            if( ob.hasClass('portrait') ) {
                ob.removeClass('portrait').addClass('landscape');
            }
        }else{
            if( ob.hasClass('landscape') ) {
                ob.removeClass('landscape').addClass('portrait');
            }
        }
    });
    $(document).bind("mobileinit", function(){
      console.log(this);
    });
    </script>
</html>