{% extends 'base.html' %}

{% block title %}
New Game
{% endblock %}

{% block header %}
New Game
{% endblock %}

{% block content %}
<form action="/lobby/create/" method="POST">
    {{ create_lobby_form.as_p }}

    
    {% if char_images %}
    <div id="avatar_picker">
        {% for img in char_images %}
            <img class="picker_img" id="{{ img }}" alt="/img/chars/{{ img }}" onclick="Lobby.pickCharacter(this)" src="{{ MEDIA_URL }}/img/chars/{{ img }}" />
        {% endfor %}
        <div style='clear: both'></div>
    </div>
    <input type='hidden' name="creator_image" id="creator_image" value='' />
    <div style='clear: both'></div>
    {% endif %}

    <input type="submit" value="Create" />
</form>
{% endblock %}