{% extends 'base.html' %}

{% block content %}
<form action="/lobby/create/" method="POST">
    <h1>Create New Game</h1>
    {{ create_lobby_form.as_p }}

    
    {% if char_images %}
    <div id="avatar_picker">
        {% for img in char_images %}
            <img class="picker_img" id="{{ img }}" onclick="Lobby.pickCharacter(this)" src='http://localhost/seeker/img/chars/{{ img }}' />
        {% endfor %}
        <div style='clear: both'></div>
    </div>
    <input type='hidden' name="creator_image" id="creator_image" value='' />
    <div style='clear: both'></div>
    {% endif %}

    <input type="submit" value="Create" />
</form>
{% endblock %}