{% extends 'base.html' %}

{% block content %}
<h1>Home</h1>
<ul class="big">
    {% if player %}
        <li><a href="/seeker/game/{{ player.game.id}}/">You're in a game</a></li>
    {% else %}
        <li><a href="/lobby/create/">New game</a></li>
    {% endif %}
    <li><a href="/lobby/profile/">Profile</a></li>
    <li><a href="/lobby/settings/">Settings</a></li>
</ul>
<h3>Past Games</h3>
{% for player in history.all %}
    <li><a href="/seeker/game/{{ player.game.id }}/">{{ player.game.end }}</a></li>
{% endfor %}
{% endblock %}