{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block header %}
Home
{% endblock %}

{% block content %}
<div id="splash"><img class="mainImg" id="mainImg" src="{{ MEDIA_URL }}/img/main_banner.png" /></div>
<div data-role="controlgroup">
    {% if player %}
        <a href="/seeker/game/{{ player.game.id}}/" data-role="button">You're in a game</a>
    {% else %}
        <a href="/lobby/create/" data-role="button">New game</a>
    {% endif %}
    <!--<a href="/lobby/profile/" data-role="button">Profile</a>-->
    <a href="/lobby/settings/" data-role="button">Settings</a>
</div>

<h3>Past Games</h3>
<div data-role="controlgroup">
    {% for player in history.all %}
    <li>
        <span class="rank">{{ player.ranking.human_rank }}</span>
        <a href="/seeker/game/{{ player.game.id }}/">{{ player.game.end }}</a>
    </li>
    {% endfor %}
</div>
{% endblock %}