{% extends 'base.html' %}

{% block content %}

<h1>Lobby: {{ lobby.name }}</h1>
Created by <b> {{ lobby.creator.username }}</b> at {{ lobby.created }}

<h3>Members</h3>
<ul id="members">
{% for member in lobby.members.all %}
    <li>{{ member.user.username }} {{ member.created }}</li>
{% endfor %}
</ul>

<h3>Your Messages</h3>
<div id="messages"></div>

<h3>Send Message</h3>
<form action="/lobby/messages/send/" id="send_message_form">
{{ send_message_form.as_p }}
<a href="#" onclick="submitForm('send_message_form'); $('id_content').value = '';">Send</a>

<script>
Object.extend(Lobby, {{ lobby_json|safe }})
Object.extend(User, {{ user_json|safe }})
Lobby.init()
</script>

{% endblock %}