{% extends 'base.html' %}

{% block title %}
Login
{% endblock %}

{% block header %}
Login
{% endblock %}

{% block content %}
    <h3>Login</h3>
    
    {% if message %}
        <p class="error">{{ message }}</p>
    {% endif %}
    
    <form action="/login/?next={{ next }}" method="POST">
        <label class="username">Username</label> <input type="text" name="username" /><br />
        <label class="password">Password</label> <input type="password" name="password" /><br />
        <input class="submit" type="submit" value="Sign In"/>
    </form>
    
    <p>Don't have an account?<br><a href="/lobby/register/">Sign Up.</a></p>

{% endblock %}