{% extends 'base.html' %}
{% load facebook_tags %}
{% block content %}

<div class="center">
    <h3>Login</h3>
    
    {% if message %}
        <p class="error">{{ message }}</p>
    {% endif %}
    
    <form action="/login/?next={{ next }}" method="POST">
        <label class="username">Username</label> <input type="text" name="username" /><br />
        <label class="password">Password</label> <input type="text" name="password" /><br />
        <label class="submit">&nbsp; </label><input class="submit" type="submit" value="Login"/>
    </form>
    
    <div class="centerText">
            -- or --
    {% show_connect_button %}
    </div>
</div>
{% endblock %}